body {
  font-family: "Space Grotesk", "Noto Sans", sans-serif;
  background-color: #ffffffff;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  background-size: cover;
  min-height: 100vh;
  margin: 0;
}

.login-container {
  background: rgba(255, 255, 255, 0.65);
  border-radius: 16px;
  backdrop-filter: blur(15px);
  -webkit-backdrop-filter: blur(15px);
  /*box-shadow: 0 8px 32px rgba(0, 0, 0, 0.3);*/
  width: 100%;
  max-width: 500px;
  padding: 30px;
  color: #fff;
  text-align: center;
}

.logo {
  max-width: 60px;
  margin-bottom: 15px;
  border-radius: 36px;
}

.brand-name {
  font-size: 1.5rem;
  font-weight: bold;
  margin-bottom: 25px;
  color: #050505ff;
}

.form-group {
  margin-bottom: 18px;
  text-align: left;
}

.form-group label {
  font-weight: 500;
  margin-bottom: 10px;
  display: block;
  color: #050505ff; /*For word email and password*/
}

.form-control {
  border: none;
  border-radius: 8px;
  padding: 10px 10px;
  width: 100%;
  background: rgba(255, 255, 255, 0.15);
}

.form-control::placeholder {
  color: #050505ff;
}

.form-control:focus {
  background-color: rgba(255, 255, 255, 0.25);
  outline: none;
  box-shadow: 0 0 0 2px rgba(0, 123, 255, 0.3);
}

.btn-main {
  border: none;
  padding: 12px 0px;
  border-radius: 8px;
  width: 100%;
  font-weight: 600;
  cursor: pointer;
  transition: all 0.2s ease;
  text-decoration: none;
  display: block;
  margin: 20px 0px;
  font-size: large;
}

.btn-login {
  background-color: #258ab2ff;
  color: #ffffffff;
}

.btn-login:hover {
  background-color: #258ab2ff;
}

.btn-signup {
  background-color: rgba(162, 163, 167, 0.3);
  color: #000000ff;
  /* border: 1px solid rgba(255, 255, 255, 0.2); */
}

.btn-signup:hover {
  background-color: rgba(255, 255, 255, 0.45);
  color: #000;
}

.forgot-password-link {
  display: block;
  margin-top: 12px;
  font-size: 0.9rem;
  color: #0a0a0aff;
}

.forgot-password-link:hover {
  text-decoration: underline;
}

.alert {
  margin-bottom: 20px;
  padding: 12px;
  border-radius: 8px;
  font-size: 0.9rem;
  text-align: left;
  background-color: rgba(255, 0, 0, 0.2);
  color: #fff;
  border: 1px solid rgba(255, 0, 0, 0.4);
}

.app-version {
  font-size: 0.75rem;
  color: #000000ff;
  margin-top: 25px;
}

@media (max-width: 400px) {
  .login-container {
    padding: 25px 20px;
  }
}
